<h1>Thut Thamrongnawasawat</h1>
<h3> Remember me???</h3>
<img src='/thut.jpg' alt =''> 
<table bgcolor='yellow' border='1'>
 <tr>
   <th> Grade </th>
   <th> Place </th>
 </tr>
 <tr>
   <td> Elementary </td>
   <td> Satit Kaset </td>
 </tr>
 <tr> 
   <td> Junior High School </td>
   <td> Satit Kaset </td>
 </tr>
 <tr>
   <td> High School </td>
   <td> Satit Kaset </td>
 </tr>
 <tr>
   <td> University </td>
   <td> Chulalongkorn </td>
 </tr>
</table>
<p>Find me in app/views/about/test1.html.erb</p>
